body {
	background-color: #FAEBD7;
	
}
.header {
	font-family: 'Reem Kufi', sans-serif; 
	text-align: center; 
	font-size: 60px;

}

.header2 {
	font-family: 'Reem Kufi', sans-serif; 
	text-align: center; 
	font-size: 40px;
}

.p1 {
	font-family: 'Reem Kufi', sans-serif; 
	text-align: center; 
	font-size:35px;
}

.p2 {
	font-family: 'Reem Kufi', sans-serif; 
	text-align: center;
}

.p3 {
	font-family:'Reem Kufi', sans-serif; 
	text-align: center; 
	font-size:40px;
}

.p4 {
	font-weight:bold;
	font-size: 20px;
}

p {
	font-family: 'Reem Kufi', sans-serif;
	text-align: center;
}

ul {
	font-family: 'Reem Kufi', sans-serif; 
	font-weight:bold;
}

.list-styling {
	list-style:none; 
	text-align: center; 
	font-weight:bold;
}

.list-styling2 {
	list-style:none; 
	text-align:center;
}

.linestyle {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;}

 .formstyle {
 	text-align: center;
 }

input {
	border: 2px dashed #D1C7AC;
	background-color:FEF7E9;
	width: 100px;
    width:100px;
} 

.inline {
	display: inline-block;
}

.right {padding-left:50px;}

.left {padding-right: 50px;}